=begin
#Deliverr API

# **Note:** As of February 24 2023, Deliverr is not accepting new API accounts. Existing integrations already using the Deliverr API in production may continue usage and development.  All other Deliverr accounts initiating Deliverr API requests will be denied access. A new Logistics API is being developed by Shopify and will be replacing the Deliverr API.  # Getting Started  To start using the Deliverr API, you must have an active login account to the Deliverr web portal. To inbound physical inventory, ship orders, process returns or parcel transactions, you'll also need to set up a billing account.  ## If you do not already have a Deliverr account 1. Create an account for free at https://sellerportal.deliverr.com 2. When you are asked to choose an integration, you can click <b>Skip</b> at the upper right corner 3. Once you have logged in, you can start the OAuth process below  ## If you already have a Deliverr account 1. You can access the Products, Webhooks and Reports API immediately regardless of billing status 2. All other APIs available will require you to have set up billing with Deliverr 3. The Returns, Parcel, and Parcel Integration APIs are only accessible to select merchants  ## Guides and examples  Please visit the <a href='https://support.deliverr.com/hc/en-us/sections/6332705638423-Deliverr-API'>Deliverr API Guide</a> to view steps and code examples.  # Release Notes  Please refer to the following <a href='https://support.deliverr.com/hc/en-us/articles/9399822031383'>Deliverr API - Release Notes</a> help center article to view the most recent changes to Deliverr API.  # Status Page  You can find information about the current status of the API endpoints at <a href='https://deliverrstatus.com/'>deliverrstatus.com</a>  

The version of the OpenAPI document: 1.0.0
Contact: support@deliverr.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.5.0

=end

require 'cgi'

module DeliverrAPI
  class OrdersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel an order that was created via the \"Create Order\" endpoint. If an order has already been processed and shipped, the order cannot be cancelled.
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :x_deliverr_mock_request if this header is set to \&quot;true\&quot; the request will be treated as a mock request.
    # @return [nil]
    def cancel_order(order_id, opts = {})
      cancel_order_with_http_info(order_id, opts)
      nil
    end

    # Cancel an order that was created via the \&quot;Create Order\&quot; endpoint. If an order has already been processed and shipped, the order cannot be cancelled.
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :x_deliverr_mock_request if this header is set to \&quot;true\&quot; the request will be treated as a mock request.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def cancel_order_with_http_info(order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.cancel_order ...'
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.cancel_order"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && order_id !~ pattern
        fail ArgumentError, "invalid value for 'order_id' when calling OrdersApi.cancel_order, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/orders/v1/order/{orderId}/cancel'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-deliverr-mock-request'] = opts[:'x_deliverr_mock_request'] if !opts[:'x_deliverr_mock_request'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"OrdersApi.cancel_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#cancel_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an order to be fulfilled. <P><B>Shipment and Delivery SLAs</B> All orders are assigned a shipping date based on when they were originally placed. All orders are assigned a shipping SLA for expected shipment time and delivery time after being imported. To meet buyer expectations it's vital that this reflects customer expectations when the order is placed.<P> The logic of evaluating the provided field is:<P> <OL> <LI>If the <B>orderDeliveryTime</B> field is present and valid, the value will be set as the SLA time <LI>Otherwise, if the <B>deliveryDays</B> value is set and valid, that number of days will be added onto the calculated shipment date to determine the delivery date.</LI> <LI>Otherwise if the <B>shipMethod</B> is present, it will be mapped to a calculated delivery speed, if unrecognized or invalid, the shipping delivery date will be set to 5 days after the shipment date</LI> </OL>
    # @param order_api_create_request [OrderApiCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @option opts [Boolean] :x_deliverr_mock_request if this header is set to \&quot;true\&quot; the request will be treated as a mock request. Note that if the shipMethod field is passed in for a mock order, it will be translated to a orderDeliveryTime of 2 days from now.
    # @return [OrderApiStatusModel]
    def create_order(order_api_create_request, opts = {})
      data, _status_code, _headers = create_order_with_http_info(order_api_create_request, opts)
      data
    end

    # Create an order to be fulfilled. &lt;P&gt;&lt;B&gt;Shipment and Delivery SLAs&lt;/B&gt; All orders are assigned a shipping date based on when they were originally placed. All orders are assigned a shipping SLA for expected shipment time and delivery time after being imported. To meet buyer expectations it&#39;s vital that this reflects customer expectations when the order is placed.&lt;P&gt; The logic of evaluating the provided field is:&lt;P&gt; &lt;OL&gt; &lt;LI&gt;If the &lt;B&gt;orderDeliveryTime&lt;/B&gt; field is present and valid, the value will be set as the SLA time &lt;LI&gt;Otherwise, if the &lt;B&gt;deliveryDays&lt;/B&gt; value is set and valid, that number of days will be added onto the calculated shipment date to determine the delivery date.&lt;/LI&gt; &lt;LI&gt;Otherwise if the &lt;B&gt;shipMethod&lt;/B&gt; is present, it will be mapped to a calculated delivery speed, if unrecognized or invalid, the shipping delivery date will be set to 5 days after the shipment date&lt;/LI&gt; &lt;/OL&gt;
    # @param order_api_create_request [OrderApiCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @option opts [Boolean] :x_deliverr_mock_request if this header is set to \&quot;true\&quot; the request will be treated as a mock request. Note that if the shipMethod field is passed in for a mock order, it will be translated to a orderDeliveryTime of 2 days from now.
    # @return [Array<(OrderApiStatusModel, Integer, Hash)>] OrderApiStatusModel data, response status code and response headers
    def create_order_with_http_info(order_api_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.create_order ...'
      end
      # verify the required parameter 'order_api_create_request' is set
      if @api_client.config.client_side_validation && order_api_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'order_api_create_request' when calling OrdersApi.create_order"
      end
      pattern = Regexp.new(/[0-9A-Fa-f]{8}-[0-9A-Fa-f]{4}-4[0-9A-Fa-f]{3}-[89ABab][0-9A-Fa-f]{3}-[0-9A-Fa-f]{12}/)
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"idempotency_key\"]' when calling OrdersApi.create_order, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/orders/v1/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'idempotency-key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?
      header_params[:'x-deliverr-mock-request'] = opts[:'x_deliverr_mock_request'] if !opts[:'x_deliverr_mock_request'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(order_api_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OrderApiStatusModel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"OrdersApi.create_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#create_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get order information for an order created via the \"Create order\" endpoint. If the order has been shipped, the response will contain shipping information.
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :x_deliverr_mock_request if this header is set to \&quot;true\&quot; the request will be treated as a mock request.
    # @return [OrderApiStatusModel]
    def get_order(order_id, opts = {})
      data, _status_code, _headers = get_order_with_http_info(order_id, opts)
      data
    end

    # Get order information for an order created via the \&quot;Create order\&quot; endpoint. If the order has been shipped, the response will contain shipping information.
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :x_deliverr_mock_request if this header is set to \&quot;true\&quot; the request will be treated as a mock request.
    # @return [Array<(OrderApiStatusModel, Integer, Hash)>] OrderApiStatusModel data, response status code and response headers
    def get_order_with_http_info(order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.get_order ...'
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.get_order"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && order_id !~ pattern
        fail ArgumentError, "invalid value for 'order_id' when calling OrdersApi.get_order, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/orders/v1/order/{orderId}'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-deliverr-mock-request'] = opts[:'x_deliverr_mock_request'] if !opts[:'x_deliverr_mock_request'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderApiStatusModel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"OrdersApi.get_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#get_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get order information for an order created via the \"Create order\" endpoint, using the external order ID given during order creation. If the order has been shipped, the response will contain shipping information.
    # @param external_order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :x_deliverr_mock_request if this header is set to \&quot;true\&quot; the request will be treated as a mock request.
    # @return [OrderApiStatusModel]
    def get_order_by_external_id(external_order_id, opts = {})
      data, _status_code, _headers = get_order_by_external_id_with_http_info(external_order_id, opts)
      data
    end

    # Get order information for an order created via the \&quot;Create order\&quot; endpoint, using the external order ID given during order creation. If the order has been shipped, the response will contain shipping information.
    # @param external_order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :x_deliverr_mock_request if this header is set to \&quot;true\&quot; the request will be treated as a mock request.
    # @return [Array<(OrderApiStatusModel, Integer, Hash)>] OrderApiStatusModel data, response status code and response headers
    def get_order_by_external_id_with_http_info(external_order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.get_order_by_external_id ...'
      end
      # verify the required parameter 'external_order_id' is set
      if @api_client.config.client_side_validation && external_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_order_id' when calling OrdersApi.get_order_by_external_id"
      end
      # resource path
      local_var_path = '/orders/v1/order/externalId/{externalOrderId}'.sub('{' + 'externalOrderId' + '}', CGI.escape(external_order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-deliverr-mock-request'] = opts[:'x_deliverr_mock_request'] if !opts[:'x_deliverr_mock_request'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderApiStatusModel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"OrdersApi.get_order_by_external_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#get_order_by_external_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retries processing of a fulfillment order.
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [OrderApiStatusModel]
    def retry_order(order_id, opts = {})
      data, _status_code, _headers = retry_order_with_http_info(order_id, opts)
      data
    end

    # Retries processing of a fulfillment order.
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderApiStatusModel, Integer, Hash)>] OrderApiStatusModel data, response status code and response headers
    def retry_order_with_http_info(order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.retry_order ...'
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.retry_order"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && order_id !~ pattern
        fail ArgumentError, "invalid value for 'order_id' when calling OrdersApi.retry_order, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/orders/v1/order/{orderId}/retry'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderApiStatusModel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"OrdersApi.retry_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#retry_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
