=begin
#Deliverr API

# **Note:** As of February 24 2023, Deliverr is not accepting new API accounts. Existing integrations already using the Deliverr API in production may continue usage and development.  All other Deliverr accounts initiating Deliverr API requests will be denied access. A new Logistics API is being developed by Shopify and will be replacing the Deliverr API.  # Getting Started  To start using the Deliverr API, you must have an active login account to the Deliverr web portal. To inbound physical inventory, ship orders, process returns or parcel transactions, you'll also need to set up a billing account.  ## If you do not already have a Deliverr account 1. Create an account for free at https://sellerportal.deliverr.com 2. When you are asked to choose an integration, you can click <b>Skip</b> at the upper right corner 3. Once you have logged in, you can start the OAuth process below  ## If you already have a Deliverr account 1. You can access the Products, Webhooks and Reports API immediately regardless of billing status 2. All other APIs available will require you to have set up billing with Deliverr 3. The Returns, Parcel, and Parcel Integration APIs are only accessible to select merchants  ## Guides and examples  Please visit the <a href='https://support.deliverr.com/hc/en-us/sections/6332705638423-Deliverr-API'>Deliverr API Guide</a> to view steps and code examples.  # Release Notes  Please refer to the following <a href='https://support.deliverr.com/hc/en-us/articles/9399822031383'>Deliverr API - Release Notes</a> help center article to view the most recent changes to Deliverr API.  # Status Page  You can find information about the current status of the API endpoints at <a href='https://deliverrstatus.com/'>deliverrstatus.com</a>  

The version of the OpenAPI document: 1.0.0
Contact: support@deliverr.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.5.0

=end

require 'cgi'

module DeliverrAPI
  class ProductsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new product.
    # @param api_product_model [ApiProductModel] 
    # @param [Hash] opts the optional parameters
    # @return [ApiProductModelResponse]
    def create_product(api_product_model, opts = {})
      data, _status_code, _headers = create_product_with_http_info(api_product_model, opts)
      data
    end

    # Create a new product.
    # @param api_product_model [ApiProductModel] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiProductModelResponse, Integer, Hash)>] ApiProductModelResponse data, response status code and response headers
    def create_product_with_http_info(api_product_model, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.create_product ...'
      end
      # verify the required parameter 'api_product_model' is set
      if @api_client.config.client_side_validation && api_product_model.nil?
        fail ArgumentError, "Missing the required parameter 'api_product_model' when calling ProductsApi.create_product"
      end
      # resource path
      local_var_path = '/products/v1/product'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(api_product_model)

      # return_type
      return_type = opts[:debug_return_type] || 'ApiProductModelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"ProductsApi.create_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#create_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validates and assigns a new barcode to this product.
    # @param product_id [String] 
    # @param barcode_option [BarcodeOption] 
    # @param [Hash] opts the optional parameters
    # @return [ApiProductModelResponse]
    def create_product_barcode(product_id, barcode_option, opts = {})
      data, _status_code, _headers = create_product_barcode_with_http_info(product_id, barcode_option, opts)
      data
    end

    # Validates and assigns a new barcode to this product.
    # @param product_id [String] 
    # @param barcode_option [BarcodeOption] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiProductModelResponse, Integer, Hash)>] ApiProductModelResponse data, response status code and response headers
    def create_product_barcode_with_http_info(product_id, barcode_option, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.create_product_barcode ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductsApi.create_product_barcode"
      end
      if @api_client.config.client_side_validation && product_id.to_s.length > 11
        fail ArgumentError, 'invalid value for "product_id" when calling ProductsApi.create_product_barcode, the character length must be smaller than or equal to 11.'
      end

      if @api_client.config.client_side_validation && product_id.to_s.length < 11
        fail ArgumentError, 'invalid value for "product_id" when calling ProductsApi.create_product_barcode, the character length must be great than or equal to 11.'
      end

      pattern = Regexp.new(/^D[0-9a-zA-Z]+$/)
      if @api_client.config.client_side_validation && product_id !~ pattern
        fail ArgumentError, "invalid value for 'product_id' when calling ProductsApi.create_product_barcode, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'barcode_option' is set
      if @api_client.config.client_side_validation && barcode_option.nil?
        fail ArgumentError, "Missing the required parameter 'barcode_option' when calling ProductsApi.create_product_barcode"
      end
      # resource path
      local_var_path = '/products/v1/product/{productId}/barcode'.sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(barcode_option)

      # return_type
      return_type = opts[:debug_return_type] || 'ApiProductModelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"ProductsApi.create_product_barcode",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#create_product_barcode\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all inventory.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [Integer] :offset 
    # @option opts [InventoryPool] :pool_name 
    # @return [Array<ApiInventoryResponseModel>]
    def get_all_inventory(opts = {})
      data, _status_code, _headers = get_all_inventory_with_http_info(opts)
      data
    end

    # Get all inventory.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [Integer] :offset 
    # @option opts [InventoryPool] :pool_name 
    # @return [Array<(Array<ApiInventoryResponseModel>, Integer, Hash)>] Array<ApiInventoryResponseModel> data, response status code and response headers
    def get_all_inventory_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.get_all_inventory ...'
      end
      # resource path
      local_var_path = '/products/v1/product/inventory'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'poolName'] = opts[:'pool_name'] if !opts[:'pool_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ApiInventoryResponseModel>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"ProductsApi.get_all_inventory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#get_all_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get product information for products.
    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ApiProductModelResponse]
    def get_product(product_id, opts = {})
      data, _status_code, _headers = get_product_with_http_info(product_id, opts)
      data
    end

    # Get product information for products.
    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiProductModelResponse, Integer, Hash)>] ApiProductModelResponse data, response status code and response headers
    def get_product_with_http_info(product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.get_product ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductsApi.get_product"
      end
      if @api_client.config.client_side_validation && product_id.to_s.length > 11
        fail ArgumentError, 'invalid value for "product_id" when calling ProductsApi.get_product, the character length must be smaller than or equal to 11.'
      end

      if @api_client.config.client_side_validation && product_id.to_s.length < 11
        fail ArgumentError, 'invalid value for "product_id" when calling ProductsApi.get_product, the character length must be great than or equal to 11.'
      end

      pattern = Regexp.new(/^D[0-9a-zA-Z]+$/)
      if @api_client.config.client_side_validation && product_id !~ pattern
        fail ArgumentError, "invalid value for 'product_id' when calling ProductsApi.get_product, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/products/v1/product/{productId}'.sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiProductModelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"ProductsApi.get_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#get_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get product information for products.
    # @param external_product_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ApiProductModelResponse]
    def get_product_by_external_product_id(external_product_id, opts = {})
      data, _status_code, _headers = get_product_by_external_product_id_with_http_info(external_product_id, opts)
      data
    end

    # Get product information for products.
    # @param external_product_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiProductModelResponse, Integer, Hash)>] ApiProductModelResponse data, response status code and response headers
    def get_product_by_external_product_id_with_http_info(external_product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.get_product_by_external_product_id ...'
      end
      # verify the required parameter 'external_product_id' is set
      if @api_client.config.client_side_validation && external_product_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_product_id' when calling ProductsApi.get_product_by_external_product_id"
      end
      if @api_client.config.client_side_validation && external_product_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "external_product_id" when calling ProductsApi.get_product_by_external_product_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && external_product_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "external_product_id" when calling ProductsApi.get_product_by_external_product_id, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/products/v1/product/externalId/{externalProductId}'.sub('{' + 'externalProductId' + '}', CGI.escape(external_product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiProductModelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"ProductsApi.get_product_by_external_product_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#get_product_by_external_product_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get available inventory information for product.
    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InventoryPool] :pool_name 
    # @return [ApiInventoryResponseModel]
    def get_product_inventory(product_id, opts = {})
      data, _status_code, _headers = get_product_inventory_with_http_info(product_id, opts)
      data
    end

    # Get available inventory information for product.
    # @param product_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InventoryPool] :pool_name 
    # @return [Array<(ApiInventoryResponseModel, Integer, Hash)>] ApiInventoryResponseModel data, response status code and response headers
    def get_product_inventory_with_http_info(product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.get_product_inventory ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductsApi.get_product_inventory"
      end
      if @api_client.config.client_side_validation && product_id.to_s.length > 11
        fail ArgumentError, 'invalid value for "product_id" when calling ProductsApi.get_product_inventory, the character length must be smaller than or equal to 11.'
      end

      if @api_client.config.client_side_validation && product_id.to_s.length < 11
        fail ArgumentError, 'invalid value for "product_id" when calling ProductsApi.get_product_inventory, the character length must be great than or equal to 11.'
      end

      pattern = Regexp.new(/^D[0-9a-zA-Z]+$/)
      if @api_client.config.client_side_validation && product_id !~ pattern
        fail ArgumentError, "invalid value for 'product_id' when calling ProductsApi.get_product_inventory, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/products/v1/product/{productId}/inventory'.sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'poolName'] = opts[:'pool_name'] if !opts[:'pool_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiInventoryResponseModel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"ProductsApi.get_product_inventory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#get_product_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of products and their information.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [Integer] :offset 
    # @return [Array<ApiProductModelResponse>]
    def get_products(opts = {})
      data, _status_code, _headers = get_products_with_http_info(opts)
      data
    end

    # Get a list of products and their information.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit 
    # @option opts [Integer] :offset 
    # @return [Array<(Array<ApiProductModelResponse>, Integer, Hash)>] Array<ApiProductModelResponse> data, response status code and response headers
    def get_products_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.get_products ...'
      end
      # resource path
      local_var_path = '/products/v1/product/products'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ApiProductModelResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"ProductsApi.get_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#get_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get warehouse information for a given list of productIds.
    # @param product_ids [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InventoryPool] :pool_name 
    # @return [Array<ApiWarehouseResponseModel>]
    def get_warehouse_details(product_ids, opts = {})
      data, _status_code, _headers = get_warehouse_details_with_http_info(product_ids, opts)
      data
    end

    # Get warehouse information for a given list of productIds.
    # @param product_ids [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InventoryPool] :pool_name 
    # @return [Array<(Array<ApiWarehouseResponseModel>, Integer, Hash)>] Array<ApiWarehouseResponseModel> data, response status code and response headers
    def get_warehouse_details_with_http_info(product_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.get_warehouse_details ...'
      end
      # verify the required parameter 'product_ids' is set
      if @api_client.config.client_side_validation && product_ids.nil?
        fail ArgumentError, "Missing the required parameter 'product_ids' when calling ProductsApi.get_warehouse_details"
      end
      # resource path
      local_var_path = '/products/v1/product/warehouse'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'productIds'] = product_ids
      query_params[:'poolName'] = opts[:'pool_name'] if !opts[:'pool_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ApiWarehouseResponseModel>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"ProductsApi.get_warehouse_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#get_warehouse_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Links an externalProductId to an existing product. A product can only be linked to one externalProductId.
    # @param product_id [String] 
    # @param external_product_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ApiProductModelResponse]
    def link_alias_to_product(product_id, external_product_id, opts = {})
      data, _status_code, _headers = link_alias_to_product_with_http_info(product_id, external_product_id, opts)
      data
    end

    # Links an externalProductId to an existing product. A product can only be linked to one externalProductId.
    # @param product_id [String] 
    # @param external_product_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiProductModelResponse, Integer, Hash)>] ApiProductModelResponse data, response status code and response headers
    def link_alias_to_product_with_http_info(product_id, external_product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.link_alias_to_product ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductsApi.link_alias_to_product"
      end
      if @api_client.config.client_side_validation && product_id.to_s.length > 11
        fail ArgumentError, 'invalid value for "product_id" when calling ProductsApi.link_alias_to_product, the character length must be smaller than or equal to 11.'
      end

      if @api_client.config.client_side_validation && product_id.to_s.length < 11
        fail ArgumentError, 'invalid value for "product_id" when calling ProductsApi.link_alias_to_product, the character length must be great than or equal to 11.'
      end

      pattern = Regexp.new(/^D[0-9a-zA-Z]+$/)
      if @api_client.config.client_side_validation && product_id !~ pattern
        fail ArgumentError, "invalid value for 'product_id' when calling ProductsApi.link_alias_to_product, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'external_product_id' is set
      if @api_client.config.client_side_validation && external_product_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_product_id' when calling ProductsApi.link_alias_to_product"
      end
      if @api_client.config.client_side_validation && external_product_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "external_product_id" when calling ProductsApi.link_alias_to_product, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && external_product_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "external_product_id" when calling ProductsApi.link_alias_to_product, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/products/v1/product/{productId}/link/{externalProductId}'.sub('{' + 'productId' + '}', CGI.escape(product_id.to_s)).sub('{' + 'externalProductId' + '}', CGI.escape(external_product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiProductModelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"ProductsApi.link_alias_to_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#link_alias_to_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unlinks an externalProductId from any existing product it is currently associated with.
    # @param external_product_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def unlink_alias_from_products(external_product_id, opts = {})
      unlink_alias_from_products_with_http_info(external_product_id, opts)
      nil
    end

    # Unlinks an externalProductId from any existing product it is currently associated with.
    # @param external_product_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def unlink_alias_from_products_with_http_info(external_product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.unlink_alias_from_products ...'
      end
      # verify the required parameter 'external_product_id' is set
      if @api_client.config.client_side_validation && external_product_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_product_id' when calling ProductsApi.unlink_alias_from_products"
      end
      if @api_client.config.client_side_validation && external_product_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "external_product_id" when calling ProductsApi.unlink_alias_from_products, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && external_product_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "external_product_id" when calling ProductsApi.unlink_alias_from_products, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/products/v1/product/unlink/externalId/{externalProductId}'.sub('{' + 'externalProductId' + '}', CGI.escape(external_product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"ProductsApi.unlink_alias_from_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#unlink_alias_from_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update product attributes.
    # @param product_id [String] 
    # @param api_update_product_model [ApiUpdateProductModel] 
    # @param [Hash] opts the optional parameters
    # @return [ApiProductModelResponse]
    def update_product(product_id, api_update_product_model, opts = {})
      data, _status_code, _headers = update_product_with_http_info(product_id, api_update_product_model, opts)
      data
    end

    # Update product attributes.
    # @param product_id [String] 
    # @param api_update_product_model [ApiUpdateProductModel] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiProductModelResponse, Integer, Hash)>] ApiProductModelResponse data, response status code and response headers
    def update_product_with_http_info(product_id, api_update_product_model, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.update_product ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductsApi.update_product"
      end
      if @api_client.config.client_side_validation && product_id.to_s.length > 11
        fail ArgumentError, 'invalid value for "product_id" when calling ProductsApi.update_product, the character length must be smaller than or equal to 11.'
      end

      if @api_client.config.client_side_validation && product_id.to_s.length < 11
        fail ArgumentError, 'invalid value for "product_id" when calling ProductsApi.update_product, the character length must be great than or equal to 11.'
      end

      pattern = Regexp.new(/^D[0-9a-zA-Z]+$/)
      if @api_client.config.client_side_validation && product_id !~ pattern
        fail ArgumentError, "invalid value for 'product_id' when calling ProductsApi.update_product, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'api_update_product_model' is set
      if @api_client.config.client_side_validation && api_update_product_model.nil?
        fail ArgumentError, "Missing the required parameter 'api_update_product_model' when calling ProductsApi.update_product"
      end
      # resource path
      local_var_path = '/products/v1/product/{productId}'.sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(api_update_product_model)

      # return_type
      return_type = opts[:debug_return_type] || 'ApiProductModelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"ProductsApi.update_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#update_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
