=begin
#Deliverr API

# **Note:** As of February 24 2023, Deliverr is not accepting new API accounts. Existing integrations already using the Deliverr API in production may continue usage and development.  All other Deliverr accounts initiating Deliverr API requests will be denied access. A new Logistics API is being developed by Shopify and will be replacing the Deliverr API.  # Getting Started  To start using the Deliverr API, you must have an active login account to the Deliverr web portal. To inbound physical inventory, ship orders, process returns or parcel transactions, you'll also need to set up a billing account.  ## If you do not already have a Deliverr account 1. Create an account for free at https://sellerportal.deliverr.com 2. When you are asked to choose an integration, you can click <b>Skip</b> at the upper right corner 3. Once you have logged in, you can start the OAuth process below  ## If you already have a Deliverr account 1. You can access the Products, Webhooks and Reports API immediately regardless of billing status 2. All other APIs available will require you to have set up billing with Deliverr 3. The Returns, Parcel, and Parcel Integration APIs are only accessible to select merchants  ## Guides and examples  Please visit the <a href='https://support.deliverr.com/hc/en-us/sections/6332705638423-Deliverr-API'>Deliverr API Guide</a> to view steps and code examples.  # Release Notes  Please refer to the following <a href='https://support.deliverr.com/hc/en-us/articles/9399822031383'>Deliverr API - Release Notes</a> help center article to view the most recent changes to Deliverr API.  # Status Page  You can find information about the current status of the API endpoints at <a href='https://deliverrstatus.com/'>deliverrstatus.com</a>  

The version of the OpenAPI document: 1.0.0
Contact: support@deliverr.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.5.0

=end

require 'cgi'

module DeliverrAPI
  class ReturnsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel a return that was create. Return will not be cancelled if it is received.
    # @param x_caller_id [String] The caller identifier.
    # @param return_id [String] Unique ID used to track the return.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def cancel_order_return(x_caller_id, return_id, opts = {})
      cancel_order_return_with_http_info(x_caller_id, return_id, opts)
      nil
    end

    # Cancel a return that was create. Return will not be cancelled if it is received.
    # @param x_caller_id [String] The caller identifier.
    # @param return_id [String] Unique ID used to track the return.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def cancel_order_return_with_http_info(x_caller_id, return_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReturnsApi.cancel_order_return ...'
      end
      # verify the required parameter 'x_caller_id' is set
      if @api_client.config.client_side_validation && x_caller_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_caller_id' when calling ReturnsApi.cancel_order_return"
      end
      # verify the required parameter 'return_id' is set
      if @api_client.config.client_side_validation && return_id.nil?
        fail ArgumentError, "Missing the required parameter 'return_id' when calling ReturnsApi.cancel_order_return"
      end
      # resource path
      local_var_path = '/returns/v1/orders/{returnId}/cancel'.sub('{' + 'returnId' + '}', CGI.escape(return_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-caller-id'] = x_caller_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"ReturnsApi.cancel_order_return",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReturnsApi#cancel_order_return\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates return order for inspection.
    # @param x_caller_id [String] The caller identifier.
    # @param returns_api_create_order_request [ReturnsApiCreateOrderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ReturnsApiOrder]
    def create_order_return(x_caller_id, returns_api_create_order_request, opts = {})
      data, _status_code, _headers = create_order_return_with_http_info(x_caller_id, returns_api_create_order_request, opts)
      data
    end

    # Creates return order for inspection.
    # @param x_caller_id [String] The caller identifier.
    # @param returns_api_create_order_request [ReturnsApiCreateOrderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReturnsApiOrder, Integer, Hash)>] ReturnsApiOrder data, response status code and response headers
    def create_order_return_with_http_info(x_caller_id, returns_api_create_order_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReturnsApi.create_order_return ...'
      end
      # verify the required parameter 'x_caller_id' is set
      if @api_client.config.client_side_validation && x_caller_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_caller_id' when calling ReturnsApi.create_order_return"
      end
      # verify the required parameter 'returns_api_create_order_request' is set
      if @api_client.config.client_side_validation && returns_api_create_order_request.nil?
        fail ArgumentError, "Missing the required parameter 'returns_api_create_order_request' when calling ReturnsApi.create_order_return"
      end
      # resource path
      local_var_path = '/returns/v1/orders'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-caller-id'] = x_caller_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(returns_api_create_order_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ReturnsApiOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"ReturnsApi.create_order_return",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReturnsApi#create_order_return\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get return by returnId. This will include ReturnOrder, ReturnItems with inspection status and ShippingLabel.
    # @param x_caller_id [String] The caller identifier.
    # @param return_id [String] Unique ID used to track the return.
    # @param [Hash] opts the optional parameters
    # @return [ReturnsApiOrder]
    def get_order_return(x_caller_id, return_id, opts = {})
      data, _status_code, _headers = get_order_return_with_http_info(x_caller_id, return_id, opts)
      data
    end

    # Get return by returnId. This will include ReturnOrder, ReturnItems with inspection status and ShippingLabel.
    # @param x_caller_id [String] The caller identifier.
    # @param return_id [String] Unique ID used to track the return.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReturnsApiOrder, Integer, Hash)>] ReturnsApiOrder data, response status code and response headers
    def get_order_return_with_http_info(x_caller_id, return_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReturnsApi.get_order_return ...'
      end
      # verify the required parameter 'x_caller_id' is set
      if @api_client.config.client_side_validation && x_caller_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_caller_id' when calling ReturnsApi.get_order_return"
      end
      # verify the required parameter 'return_id' is set
      if @api_client.config.client_side_validation && return_id.nil?
        fail ArgumentError, "Missing the required parameter 'return_id' when calling ReturnsApi.get_order_return"
      end
      # resource path
      local_var_path = '/returns/v1/orders/{returnId}'.sub('{' + 'returnId' + '}', CGI.escape(return_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-caller-id'] = x_caller_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReturnsApiOrder'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2.0']

      new_options = opts.merge(
        :operation => :"ReturnsApi.get_order_return",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReturnsApi#get_order_return\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
